
@mixin baseWidth($r:calc((100% - 1600px)/2), $l:calc((100% - 1600px)/2), $r-mobile: null, $l-mobile: null) {
  & {
    padding-right: $r;
    padding-left: $l;
  }

  @media (max-width: 1600px) {
    padding-right: if($r-mobile != null, $r-mobile, 5%);
    padding-left: if($l-mobile != null, $l-mobile, 5%);
  }


  @media (max-width: 900px) {
    padding-right: if($r-mobile != null, $r-mobile, 2%);
    padding-left: if($l-mobile != null, $l-mobile, 2%);
  }
}

.requireInput {
  &::after{
    color: red;
    content: '*';
  }
}

* {
  font-family: "Noto Sans TC", sans-serif;
}